body {
  text-align: center;
  background-image: url(/images/8Y6dQGb.png);
  color: MidnightBlue;
  font-family: Georgia, Verdana;
  margin: 0;
  padding: 0;
  }

header {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#select-image {
  background-color: rgba(255,255,255, 0.6);
  padding: 10px;
}

#add-text {
  background-color: rgba(0,255,255, 0.02);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#add-text input {
  width: 600px;
}

#style-image {
  background-color: rgba(255,240,245, 0.6);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#controls {
  padding: 10px;
  font-size: 14px;
}

input[type="number"] {
  width: 50px;
}

input, button {
  font-size: 16px;
}

#workspace {
  width: 600px;
  min-height: 300px;
  border: 5px dashed MediumAquaMarine;
  margin: 0 auto;
}

#workspace img {
  width: 600px;
}

#caption {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  width: 400px;
  font-size: 32px;
  color: MidnightBlue;
  margin: 0;
}
#workspace {
  position: relative;
}

/*#branding {
  margin: 0 auto;
}*/

/*#search-results {
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  overflow: hidden;
  position: relative;
  float: left;
  margin: 2px 10px 0 0;
}*/


/*#div_avatar {
width: 30px;
height: 30px;
border: 1px solid #000000;
overflow: hidden;
position: relative;
float: left;
margin: 2px 10px 0 0;
}
#div img.avatar {
width: 30px;
height: auto;
padding: 1px;
position: absolute;
}
<div id="search-results"></div>*/

footer {
  background-color: rgba(255,255,255, 0.9);
}

footer img {
  float: left;
  margin-right: 40px;
}

footer div {
  margin: 10px 0;
}
