body {
  text-align: center;
  background-image: url(/images/confectionary.png);
  color: gray;
  font-family: Georgia, Verdana;
  margin: 0;
  padding: 0;
  }

header {
  padding: 15px;
  background-color: rgba(124,40,50, 0.2);
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#select-image {
  background-color: rgba(255,255,255, 0.5);
  padding: 10px;
}

#add-text {
  background-color: rgba(0,255,255, 0.02);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#add-text input {
  width: 600px;
  text-align: center;
}

#style-image {
  background-color: rgba(255,255,255, 0.7);
  padding: 10px;
  box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
}

#controls {
  padding: 10px;
  font-size: 14px;
}

input[type="number"] {
  width: 50px;
}

input, button {
  font-size: 16px;
}

#workspace {
  width: 600px;
  min-height: 300px;
  border: 5px dashed red;
  margin: 0 auto;
}

#workspace img {
  width: 600px;
}

#caption {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  width: 400px;
  font-size: 32px;
  color: red;
  margin: 0;
}
#workspace {
  position: relative;
}

#branding {
  margin: 0 auto;
}

footer img {
  float: left;
  margin-right: 40px;
}

footer div {
  margin: 10px 0;
}
